body {
  margin:0px;
  background-color:rgba(255, 204, 102, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 51, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Palatino Linotype';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:492px;
  width:1105px;
  height:170px;
  font-family:'Palatino Linotype';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:64px;
  width:1101px;
  word-wrap:break-word;
  text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -webkit-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
  -moz-text-shadow:1px 1px 5px rgba(0, 0, 0, 0.647058823529412);
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:151px;
  background:-webkit-linear-gradient(270deg, rgba(0, 255, 0, 1) 0%, rgba(0, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 100%, rgba(255, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 255, 0, 1) 0%, rgba(0, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 100%, rgba(255, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 255, 0, 1) 0%, rgba(0, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 100%, rgba(255, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:10px;
  width:38px;
  height:151px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:50px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:66px;
  width:23px;
  height:40px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:501px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:-9px;
  width:1105px;
  height:501px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:205px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:201px;
  width:356px;
  height:205px;
  opacity:0;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:492px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:97px;
  top:0px;
  width:1105px;
  height:492px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:1266px;
  top:325px;
  width:296px;
  height:166px;
}
#u186_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:166px;
  overflow:auto;
}
